@model Villa

@if (TempData["ReservaConfirmada"] != null)
{
        <div class="alert alert-success" role="alert">
        @TempData["ReservaConfirmada"]
        </div>
}

@if (TempData["ErrorReserva"] != null)
{
        <div class="alert alert-danger" role="alert">
        @TempData["ErrorReserva"]
        </div>
}


<h1 style="text-align: center">@Model.Nombre</h1>
<div style="display: flex; justify-content: center;">
    <img  style="width: 80%" src="~/img/@Model.ImageneCollage"/>
</div>
<div class="main-container">
<div class="containerDetalle">
  <h3>PEQUEÑA DESCRIPCION</h3>
  <h6>@Model.Descripcion</h6>
  <h4>COMODIDADES</h4>
  <h6>@Model.Comodidades</h6>
  <div class="small-box">
    <small><i class="fa fa-location-dot  mr-2"></i>  @Model.Direccion, @Model.Ubicacion</small>
  </div>
  <div class="small-box">
    <small><i class="fa fa-user  mr-2"></i>  @Model.Personas Personas</small>
  </div>
  <div class="small-box">
    <small><i class="fa fa-bed  mr-2"></i>  @Model.NumHabitaciones Habitaciones</small>
  </div>
  <div class="small-box">
    <small><i class="fa fa-bath  mr-2"></i>  @Model.NumBanios Baños</small>
  </div>
</div>
<div class="form-container">
<div style="display: flex; justify-content: center;">
        <form class="form" method="post">
            <p class="title">Reserva </p> 
            <input type="hidden" name="idvilla" value="@Model.IdVilla" />
            <span>Fecha Inicio</span>
            <label  for="start-date">
                <input required="" placeholder=" " value="" type="date" class="input"  id="start-date" name="fechainicio">
            </label>
            <span>Fecha Fin</span>
            <label for="end-date">
                <input required="" placeholder="aa" type="date" class="input"  id="end-date" name="fechafin">
            </label>

            <label for="price-per-night">
                <span>Precio por noche: @Model.PrecioNoche€/noche</span>
            </label>

            <button class="submit">Reservar</button>
            
        </form>
        </div>
  <div id="total-price"></div>
</div>
</div>
</div>


@section Scripts{
        <script>
        window.onload = function() {
            // Obtener la fecha actual en formato "YYYY-MM-DD"
            var today = new Date().toISOString().split('T')[0];

            // Establecer la fecha mínima como la fecha actual
            document.getElementById("start-date").min = today;
            document.getElementById("end-date").min = today;

            // Deshabilitar las fechas no disponibles
            disableUnavailableDates();
        };

        function disableUnavailableDates() {
            // Supongamos que tienes un array de fechas no disponibles en el formato "YYYY-MM-DD"
            var fechasNoDisponibles = ["2024-03-20", "2024-03-25", "2024-03-28"];

            // Iterar sobre las fechas no disponibles y deshabilitarlas
            //fechasNoDisponibles.forEach(function(fecha) {
                var fechaElement = document.querySelector('input[type="date"]');
                if (fechaElement) {
                    fechaElement.addEventListener('input', function() {
                        var fechaSeleccionada = new Date(this.value);
                        var fechaDeshabilitada = new Date(fecha);
                        fechaDeshabilitada.setDate(fechaDeshabilitada.getDate() + 1); // Incrementar la fecha en 1 para que esté realmente deshabilitada

                        // Si la fecha seleccionada coincide con una fecha no disponible, agregar la clase 'unavailable-date'
                        if (fechaSeleccionada.getTime() === fechaDeshabilitada.getTime()) {
                            this.classList.add('unavailable-date');
                        } else {
                            this.classList.remove('unavailable-date');
                        }
                    });
                }
            //});
        }
    </script>

}