@model Villa

@if (TempData["ReservaConfirmada"] != null)
{
        <div class="alert alert-success" role="alert">
        @TempData["ReservaConfirmada"]
        </div>
}

@if (TempData["ErrorReserva"] != null)
{
        <div class="alert alert-danger" role="alert">
        @TempData["ErrorReserva"]
        </div>
}


<h1 style="text-align: center">@Model.Nombre</h1>
<div style="display: flex; justify-content: center;">
    <img  style="width: 80%" src="~/img/@Model.ImageneCollage"/>
</div>
<div class="main-container">
<div class="containerDetalle">
  <h3>PEQUEÑA DESCRIPCION</h3>
  <h6>@Model.Descripcion</h6>
  <h4>COMODIDADES</h4>
  <h6>@Model.Comodidades</h6>
  <div class="small-box">
    <small><i class="fa fa-location-dot  mr-2"></i>  @Model.Direccion, @Model.Ubicacion</small>
  </div>
  <div class="small-box">
    <small><i class="fa fa-user  mr-2"></i>  @Model.Personas Personas</small>
  </div>
  <div class="small-box">
    <small><i class="fa fa-bed  mr-2"></i>  @Model.NumHabitaciones Habitaciones</small>
  </div>
  <div class="small-box">
    <small><i class="fa fa-bath  mr-2"></i>  @Model.NumBanios Baños</small>
  </div>
</div>
<div class="form-container">
<div style="display: flex; justify-content: center;">
        <form class="form" method="post">
            <p class="title">Reserva </p> 
            <input type="hidden" name="idvilla" value="@Model.IdVilla" />
            <span>Fecha Inicio</span>
            <label  for="start-date">
                <input required="" placeholder=" " value="" type="date" class="input"  id="start-date" name="fechainicio">
            </label>
            <span>Fecha Fin</span>
            <label for="end-date">
                <input required="" placeholder="aa" type="date" class="input"  id="end-date" name="fechafin">
            </label>

            <label for="price-per-night">
                <span>Precio: <b>@Model.PrecioNoche€/noche</b></span>
            </label>

            <button class="submit">Reservar</button>
            
        </form>
</div>
  <div id="total-price"></div>
</div>
</div>
</div>


@section Scripts {
        <script>
            $(document).ready(function () {
                // Obtener la fecha actual en formato "YYYY-MM-DD"
                var today = new Date().toISOString().split('T')[0];

                // Establecer la fecha mínima como la fecha actual
                document.getElementById("start-date").min = today;
                document.getElementById("end-date").min = today;

                // Obtener las fechas de inicio y fin seleccionadas
                var startDate = document.getElementById("start-date").value;
                var endDate = document.getElementById("end-date").value;

                // Llamada AJAX inicial para verificar disponibilidad y obtener fechas no disponibles
                $.ajax({
                    url: "/Villas/CheckFechasDisponibles",
                    type: "POST",
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (result) {
                        // Fechas no disponibles obtenidas desde el controlador
                        var unavailableDates = result.unavailableDates;

                        // Deshabilitar las fechas no disponibles en el calendario
                        $("#start-date, #end-date").datepicker({
                            beforeShowDay: function (date) {
                                var stringDate = jQuery.datepicker.formatDate('yy-mm-dd', date);
                                return [unavailableDates.indexOf(stringDate) === -1];
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });

                // Evento change para las fechas de inicio y fin
                $("#start-date, #end-date").change(function () {
                    // Obtener las fechas de inicio y fin seleccionadas nuevamente
                    var startDate = document.getElementById("start-date").value;
                    var endDate = document.getElementById("end-date").value;

                    // Llamada AJAX para verificar disponibilidad y obtener fechas no disponibles
                    $.ajax({
                        url: "/Villas/CheckFechasDisponibles",
                        type: "POST",
                        data: {
                            startDate: startDate,
                            endDate: endDate
                        },
                        success: function (result) {
                            // Fechas no disponibles obtenidas desde el controlador
                            var unavailableDates = result.unavailableDates;

                            // Deshabilitar las fechas no disponibles en el calendario
                            $("#start-date, #end-date").datepicker("refresh");
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                });
            });
        </script>
}

