@model List<Villa>

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-success text-uppercase" style="letter-spacing: 5px;">Villas</h6>
            <h1>Nuestras Villas</h1>
        </div>
        <div class="row">
            @foreach (Villa villa in Model){
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img style="aspect-ratio:4/3" class="img-fluid" src="~/img/@villa.Imagenes" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-icons mr-2"></i> @villa.Ubicacion</small>
                                <small class="m-0"><i class="fa fa-bed text-icons mr-2"></i> @villa.NumHabitaciones Room</small>
                                <small class="m-0"><i class="fa fa-user text-icons mr-2"></i> @villa.Personas Person</small>
                            </div>
                            <div style="justify-content: center; display: flex;">
                                <a class="h2 text-decoration-none text-icons fw-bold" style="text-aling"asp-controller="Villas"
                                       asp-action="DetallesVilla" asp-route-idvilla="@villa.IdVilla">
                                    @villa.Nombre
                                </a>
                            </div>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-end">
                                    <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6> -->
                                    <h5 class="m-0">@villa.PrecioNoche €/noche</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


            @* 
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="~/img/villa1_1.jpg" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-icons mr-2"></i> Mallorca</small>
                            <small class="m-0"><i class="fa fa-bed text-icons mr-2"></i> 6 Room</small>
                            <small class="m-0"><i class="fa fa-user text-icons mr-2"></i> 12 Person</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">Villa Barcares</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-end">
                                <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6> -->
                                <h5 class="m-0">350€/noche</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="~/img/villa2_1.jpg" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-icons mr-2"></i> Marbella</small>
                            <small class="m-0"><i class="fa fa-bed text-icons mr-2"></i> 7 Room</small>
                            <small class="m-0"><i class="fa fa-user text-icons mr-2"></i> 14 Person</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">Villa Soulhouse</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-end">
                                <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6> -->
                                <h5 class="m-0">2447€/noche</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="~/img/villa2_2.jpg" alt="">
                    <div class="p-3">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-icons mr-2"></i> Benalmadena</small>
                            <small class="m-0"><i class="fa fa-bed text-icons mr-2"></i> 5 Room</small>
                            <small class="m-0"><i class="fa fa-user text-icons mr-2"></i> 12 Person</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">Villa Cliff</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-end">
                                <!-- <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6> -->
                                <h5 class="m-0">400€/noche</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>